<div class="flex gap-6 items-center justify-center">
  <a href="/favorites/<%= user && user.user_id%>" class="flex items-center gap-2 text-white hover:text-yellow-400">
    <span class="text-lg">Favorites</span>
    <i class="fas fa-heart text-2xl"></i>
  </a>
  <form action="/logout" method="POST">
    <button
      type="submit"
      class="flex items-center gap-2 text-white hover:text-yellow-400"
    >
      <span class="text-lg">Logout</span>
      <i class="fa-solid fa-right-from-bracket text-2xl"></i>
    </button>
  </form>
</div>
